{% extends 'core/base.html' %} {% load static %} {% block title %}<title>
  Страница добавление статьи
</title>
{{ article_form.media }} {% endblock %} {% block js %}
<script src="/static/js/confirmButton.js"></script>
{% endblock %} {% block header_text %}
<p>
  Добро пожаловать на страницу сообщества! Здесь вы можете создавать свои
  статьи!
</p>
{% endblock %} {% block content %}
<main class="main-content">
  <section class="content-section">
    <h2>Это помощь для написани статей:</h2>
    <h3>
      Если вы не создаёте новую статью, то в полях с названием и классификацией
      можете указать что угодно.
    </h3>
    <h3>
      Если вы выбрали в классификации статьи "Обновление игры", то статья будет
      написана на страницу обновлений игры.
    </h3>
    <form method="post">
      <label for="name">Введите название статьи:</label>
      <input type="text" id="name" name="name" required />
      {{ article_form }}
      <button id="button-confirm" type="submit">Создать</button>
    </form>
    <hr />
    <form method="POST" enctype="multipart/form-data">
      <ul>
        <li>
          <label for="img">Добавте картинку:</label>
          <input type="file" id="img" name="img" required />
        </li>
        <li>
          <label for="arti-id">К какой статье?</label>
          <select name="arti-id" id="arti-id" required>
            <option value="">--ВЫБРАТЬ СТАТЬЮ--</option>
            <!-- {% for art in article %}
            <option value="{{art.id}}">{{ art.name }}</option>
            {% endfor %} -->
          </select>
        </li>
      </ul>
      <button type="submit">Добавить картинку</button>
    </form>
  </section>
</main>
{% endblock %}
