{% extends 'core/base.html' %} {% block title %}<title>
  Страница {{ article.title }}</title
>{% endblock %} {% block header_text %}
<p>
  Добро пожаловать на страницу сообщества! Здесь вы найдёте информацию выложеную
  другими игроками!
</p>
{% endblock %} {% block content %}
<main class="main-content">
  <section class="content-section">
    <h2>{{article.topic.name}}:{{article.title}}</h2>
    {% for content in article.articlecontents.all %}
    {{ content.content|safe }}
    <!-- <p>Автор: {{ content.user.login }}</p> -->
    <!-- {% for img in content.imgs.all %}
    <img src="{%img.name.url}}" alt="{{img.alt}}" width="300" height="auto" />
    {% endfor %} -->
    {% endfor %}
  </section>
</main>
{% endblock %}
