{% extends 'core/base.html' %} {% block title %}<title>
  Страница сообщества</title
>{% endblock %} {% block header_text %}
<p>
  Добро пожаловать на страницу сообщества! Здесь вы найдёте информацию выложеную
  другими игроками!
</p>
{% endblock %} {% block nav %}
<nav class="site-nav">
  <ul class="nav-menu">
    <form method="get">
      <li>
        <label for="name">ФУНКЦИЯ НЕ РАБОТАЕТ!:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="поиск по названию"
        />
      </li>
      <li>
        <select name="topic">
          <option value="">Все результаты</option>
          {% for top in topic %}
          <option value="{{top.id}}">{{top.name}}</option>
          {% endfor %}
        </select>
      </li>
      <li>
        <button>Поиск</button>
      </li>
    </form>
  </ul>
</nav>
{% endblock %} {% block content %}
<main class="main-content">
  {% for article in articles %}
  <section class="content-section">
    <h2>
      <a
        href="{% url 'article' article_id=article.id %}"
        rel="noopener noreferrer"
        >{{article.topic}}:{{article.title}}</a
      >
    </h2>
  </section>
  {% endfor %}
</main>
{% endblock %}
